.cell {
  width: 100px;
  min-width: 100px;
  height: 20px;
  border: 1px solid #ccc;
  padding: 4px;
}
.col-names-row {
  display: flex;
}
.context-menu {
  position: fixed;
  background-color: #ddd;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 4px 12px;
}
.App {
  overflow: auto;
}
.row {
  width: 100%;
  display: flex;
}
.sort-icon {
  width: 10px;
  height: 10px;
}
.invert-img {
  transform: rotate(180deg);
}